<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

    {% load static %}
    <script type="text/javascript" src="{% static 'journals/javascript.js' %}"></script>

    <link rel="stylesheet" href="{% static 'journals/style.css' %}">

</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light bg-faded">
    <div class="container-fluid">
    <div class="navbar-header">
        <div class="navbar-brand"><h3>Gratitude Journal</h3></div>
    </div>
    <ul class="nav navbar-nav">
        <li class="active">
        <span>
            <a class="ninth before after" href="{% url 'index' %}"> home</a>&nbsp;|
            <a href="{% url 'explore' %}">explore</a>&nbsp;|
            {% if user.is_authenticated %}
            <a href="{% url 'feed' %}">feed</a>&nbsp;|
            {% endif %}
            <span class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            account
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% if user.is_authenticated %}
                &nbsp;{{ user.username }}
                  <a class="dropdown-item" id="user_profile" href="{% url 'profile' user.userextension.slug %}">Profile</a>
                  <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                  {% else %}
                  <a class="dropdown-item" href="{% url 'login' %}">Log In</a>
                  <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                  {% endif %}
          </div>
            </span>
        </span>
        </li>
    </ul>
    </div>
</nav>

    <div class="container">
    {% block content %}
        {% endblock %}
    </div>
<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Copyright -->
  <div class="footer-copyright text-right py-3">© 2019 Copyright: Christopher Siegel
  </div>

</footer>
</body>
</html>