{% extends 'journals/base.html' %}

{% block content %}

<div class="journal_container">
    <div class="journal_date text-center">{{ journal.date|date:"M d, Y" }}</div>
    <div class="text-center">
        <a class="journal_user detail" id="user_profile" href="{% url 'profile' journal.user.userextension.slug %}">{{ journal.user.username }}</a>
    </div>
    <div class="journal_title text-center">{{ journal.title }}</div>
    <br>
    <br>
    <div class="journal_body">{{ journal.body|linebreaks }}</div>
</div>

<br>
<br>
<br>
<br>
<h5>tags:</h5>-
{% for tag in journal.tags.all %}
<span class="journal_tag">{{ tag }}</span>&nbsp;-
{% endfor %}

<br>
<br>
<br>
<br>

{% if logged_in_users_journal %}
    <div class="text-center">
        <form action="{% url 'delete_journal' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="journal_id" value="{{ journal.id }}">
            <input type="submit" id="delete-button" value="Delete Journal">
        </form>
    </div>
{% endif %}

{% endblock %}