{% extends 'journals/base.html' %}

{% block content %}

<script type="text/javascript">
    $(document).ready(function () {

    $.ajaxSetup({data: {
    csrfmiddlewaretoken: '{{ csrf_token }}'
    }});

   $( ".follow-button" ).click(function() {
        $.post('{% url 'follow_user' %}', {'data': $(this).html(), 'user_to_follow_or_unfollow': $( "#username" ).html()})

        if ($(this).html() == "Follow")
        {
            $(this).html("Unfollow")
            $(this).removeClass("follow-button")
            $(this).addClass("unfollow-button")
        }
        else
        {
            $(this).html("Follow")
            $(this).removeClass("unfollow-button")
            $(this).addClass("follow-button")
        }

   });

   $( ".unfollow-button" ).click(function() {
        $.post('{% url 'follow_user' %}', {'data': $(this).html(), 'user_to_follow_or_unfollow': $( "#username" ).html()})

        if ($(this).html() == "Follow")
        {
            $(this).html("Unfollow")
            $(this).removeClass("follow-button")
            $(this).addClass("unfollow-button")
        }
        else
        {
            $(this).html("Follow")
            $(this).removeClass("unfollow-button")
            $(this).addClass("follow-button")
        }

   });

});
</script>
<div class="text-center">
    <img id="user_image" src="{{ user_profile.userextension.user_image.url }}" alt="user image" height="150" width="150">
    <h2 id="username">{{ user_profile.username }}</h2>
    <h4 id="user_email">{{ user_profile.email }}</h4>
    <a href="{% url 'password_change' %}">change your password</a>
    {% if user.is_authenticated and not loggedin_user_profile %}
        {% if followed_by %}
            <button type="button" class="unfollow-button">Unfollow</button>
        {% else %}
            <button type="button" class="follow-button">Follow</button>
        {% endif %}
        <br>
    {% endif %}
</div>

<div class="radio_filters">
    {% if loggedin_user_profile %}
        <input type="radio" name="filter" id="public_radio" value="public">public<br>
        <input type="radio" name="filter" id="private_radio" value="private">private<br>
        <input type="radio" name="filter" id="all_radio" value="all">all<br/>
    {% endif %}
</div>
<script type="text/javascript">
$(document).ready(function () {
   $( "#private_radio" ).click(function() {
        $("#journal_container_container").empty();
        {% for journal in user_journals %}
            {% if journal.public == False %}
                $("#journal_container_container").append('<div class="journal_container"><div class="journal_date">{{ journal.date|date:"M d, Y" }}</div><div class="journal_title"><a href="{% url 'journal_detail' journal.slug %}">{{ journal.title }}</a></div><br>')
            {% endif %}
        {% endfor %}
   });

   $( "#public_radio" ).click(function() {
        console.log("public radio...");
        $("#journal_container_container").empty();
        {% for journal in user_journals %}
            {% if journal.public == True %}
                $("#journal_container_container").append('<div class="journal_container"><div class="journal_date">{{ journal.date|date:"M d, Y" }}</div><div class="journal_title"><a href="{% url 'journal_detail' journal.slug %}">{{ journal.title }}</a></div><br>')
            {% endif %}
        {% endfor %}
   });

   $( "#all_radio" ).click(function() {
        $("#journal_container_container").empty();
        {% for journal in user_journals %}
                $("#journal_container_container").append('<div class="journal_container"><div class="journal_date">{{ journal.date|date:"M d, Y" }}</div><div class="journal_title"><a href="{% url 'journal_detail' journal.slug %}">{{ journal.title }}</a></div><br>')
        {% endfor %}
   });

});
</script>


<div id="journal_container_container">
{% for journal in user_journals %}
    <div class="journal_container">
    <div class="journal_date">{{ journal.date|date:"M d, Y" }}</div>
    <div class="journal_title"><a href="{% url 'journal_detail' journal.slug %}">{{ journal.title }}</a></div>
</div>
<br>
{% endfor %}
</div>

{% if logged_in_userprofile %}
    <!--TODO make this shit better cmon-->
    <h5>users I follow</h5>
    {% for userextensions in follows_users %}
        <div><a href="{% url 'profile' userextensions.slug %}">{{ userextensions.user.username }}</a></div>
    {% endfor %}
    <br>
    <h5>users that follow me:</h5>
    {% for userextensions in followed_by_users %}
        <div><a href="{% url 'profile' userextensions.slug %}">{{ userextensions.user.username }}</a><div>
    {% endfor %}
{% endif %}

{% endblock %}