.journal_title {
    font-size: 1em;
}

.journal_date {
    font-size: .75em;
}

.radio_filters {
    padding-left: 45%;
}

.explore_journals {
    padding-left: 5%;
}

.container {
    width:70%;
    margin-top: 5px;
    background-color: rgb(248,248,248);
    padding: 2% 5% 2% 5%;
    height: 100%;
    -moz-box-shadow: 0px -1px 1px rgb(248,248,248);
    -webkit-box-shadow: 0px -1px 1px rgb(248,248,248);
    box-shadow: 0px -1px 1px rgb(248,248,248);
}

body {
    line-height: 1.4;
    font-family: 'Roboto Mono', monospace;
    background-color: #EEEEEE;
}

h1,h2,h3,h4,h5,h6,a {
    font-family: Raleway;
}

.navbar {
    padding: 1% 13% 1% 13%;
}

.navbar a, .big-link {
    font-size: 1.5em;
    transition: all .5s ease;
}
.navbar a:hover, .big-link:hover{
    font-size: 1.525em;
    color: #800000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.footer-copyright {
    font-size: .5em;
    padding-right: 3%;
}

